a {
  text-decoration: none;
}

body {
  position: relative;
}

.header {
  width: 100%;
  height: 70px;

}

.header-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.header-logo {
  width: 30%;
  margin-left: 20px;
  
}

.header-list {
  width: 70%;
  display: flex;
  justify-content: space-between;
}

.header-list-item {
  margin: 0 10px;
  color: rgb(161, 161, 161);
}

main {
  width: 100%;
}

.eyecatch-catchcopy,.section-title-note {
  font-family: 'Indie Flower', cursive;
}

.eyecatch {
  position: relative;
  height: 500px;
}

.eyecatch-contents {
  position: absolute;
  z-index: 0;
  transform: translate(30%,15%);
}

.eyecatch-catchcopy {
  display: block;
  font-size: 85px;
  font-weight: 600;
  color: rgb(184, 42, 101);
  line-height: 150%;
  margin-bottom: 20px;
}

.eyecatch-catchcopy span {
  color:lightseagreen;
}

.eyecatch-text {
  display: block;
  font-size: 28px;
  font-weight: bold;
  color: rgb(184, 42, 101);
  margin-bottom: 20px;
}

.eyecatch-text span {
  color: lightseagreen;
}

.eyecatch-copyright {
  display: block;
  color:rgb(161, 161, 161);
  margin: 0 15px;
}

.eyecatch-img {
  display: block;
  position: absolute;
  right: 0;
  width: 60%;
  z-index: -1;
}

.section-title-note {
  color: rgb(184, 42, 101);
  margin-bottom: 10px;
}

.section-title {
  color: rgb(136, 136, 136);
  margin-bottom: 20px;
}

.news {
  height: 500px;
}

.news-contents {
  width: 70%;
  display: block;
  margin: 50px auto;
}

.news-wrapper {
  width: 100%;
}

.news-text {
  padding: 20px;
  border-top: 1px solid rgb(187, 185, 185);
  color: rgb(136, 136, 136);
  width: 100%;
}

.news-text>span {
  color: white;
  background-color: rgb(184, 42, 101);
  margin: 0 30px;
  padding: 0 15px;
  border-radius: 30px;
}

.news-text:last-child {
  border-bottom: 1px solid rgb(187, 185, 185);
}

.about {
  width: 100%;
  background-color: rgb(238, 238, 238);
  height: 500px;
}

.about-contents {
  display: block;
  width: 50%;
  margin: 0 auto;
  padding: 40px;
  text-align: center;

}

.about-item-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 40px auto 100px auto;
}

.about-text-wrapper {
  color: rgb(136, 136, 136);
}

.about-text {
  margin: 20px 0;
}

.about-img {
  width: 25%;
}

.service {
  
  height: 600px;
}

.service-contents {
  margin: 0 20%;
  padding-top: 40px;
}

.srevice-wrapper {
  width: 70%;
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: 1fr 1fr;
  color: white;
  margin: 100px auto;
}

.service-box1 {
  grid-row: 1/3;
  grid-column: 1/2;
  background-color: rgb(184, 42, 101);
}

.service-text1-ttl {
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.service-text1 {
  line-height: 30px;
  width: 70%;
  margin: 0 15%;
}

.service-box2 {
  grid-row: 1/2;
  grid-column: 2/3;
  background-color: rgb(194, 109, 144);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.service-box3 {
  grid-row: 2/3;
  grid-column: 2/3;
  background-color: rgb(183, 131, 152);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.service-text2 {
  line-height: 30px;
}

.service-text-span {
  font-weight: bold;
}

.service-img1 {
  margin: 20px 35% 40px 35%;
}

.service-img1,.service-img2 {
  width: 30%;
  mix-blend-mode: multiply;
}

.blog {
  height: 600px;
  background-color: rgb(238, 238, 238);
}

.blog-contents {
  margin-left: 10%;
  padding-top: 40px;
}

.blog-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.blog-card {
  width: 30%;
  background-color: white;
}

.blog-item {
  width: 100%;
  position: relative;

}

.blog-ttl {
  z-index: 0;
  color: white;
  position: absolute;
  z-index: 2;
  padding: 10px 15px;
  background-color: rgb(184, 42, 101);
  border-radius: 10px 0 0 0;
}

.blog-img {
  width: 100%;
  position: absolute;
  z-index: 1;
  border-radius: 10px 10px 0 0;
}

.blog-pickup {
  margin: 250px 20px 20px 20px;
  font-weight: bold;
  color: rgb(74, 74, 74);
}

.blog-date {
  display: inline-block;
  margin: 0 20px 20px 20px;
  color: rgb(136, 136, 136);
}

.blog-tag {
  display: inline-block;
  margin: 0 0 20px 0;
  color: rgb(136, 136, 136);
}

.blog-btn {
  display: block;
  margin: 30px auto;
  text-align: center;
  color: rgb(184, 42, 101);
  border: 2px solid rgb(184, 42, 101);
  border-radius: 30px;
  width: 15%;
  padding: 20px 0;
}

.teble-contents {
  margin-left: 20%;
}

table {
  border-collapse: collapse;
  width: 60%;
  margin: 0 auto 100px auto; 
}

tr {
  border: 1px solid rgb(175, 174, 174);
  color: rgb(74, 74, 74);
}

th {
  text-align: left;
  width: 30%;
  padding: 20px 10px;
  border-right: 1px solid rgb(175, 174, 174);
}

td {
  padding: 20px 10px;
}

.link-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.link-box1,.link-box2 {
  width: 100%;
  position: relative;
}

.link-box1>img,.link-box2>img {
  width: 100%;
}


.link-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  font-size: 24px;
}

.info>.section-title {
  text-align: center;
}

.info-border {
  border-left: 3px solid rgb(184, 42, 101);
  width: 10px;
  height: 50px;
  margin: 0 auto 20px auto;
  display: block;
}

.info-btn {
  position: relative;
  display: block;
  margin: 0 auto 50px auto;
  color: white;
  background:repeating-linear-gradient(90deg, rgb(248, 87, 157),rgb(184, 34, 119));
  width: 250px;
  text-align: center;
  padding: 25px 0;
  border-radius: 40px;
  box-shadow: 0 8px rgb(116, 21, 75);
}

.info-btn::before {
  content: "";
  background: url("../img/mailicon.svg");
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  background-size: cover;
  position: absolute;
  transform: translate(-50px, -2px);
}

.footer {
  width: 100%;
  height: 50px;
  position: absolute;
  bottom: 0;
}

.footer>small {
  color: rgb(161, 161, 161);
  display: block;
  text-align: center;
}

.hamburger-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .header-list-item {
    display: none;
  }

  .hamburger-menu {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 35px;
    height: 35px;
  }

  .line-top,
  .line-middle,
  .line-bottom {
    display: block;
    width: 35px;
    height: 3px;
    background-color:rgb(136, 136, 136);
    position: absolute;
    right: 30px;
    top: 35px;
  }

  .line-top {
    transform: translateY(-10px);
  }

  .line-bottom {
    transform: translateY(10px);
  }
}